@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

#content {
     max-width: 1000px;
     margin: 0 auto;
}

.nav_link {
    padding: 40px;
    color: black;
    font-size: 1.3em;
    text-align: center;
}

nav {
    display: flex;
}

nav a {
    text-align: center;
    font-family: 'Bebas Neue';
    text-decoration-line: none;
}

nav a:hover {
    background-color: white;
    color: blue;
}

header {
    background-color:lightblue;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Bebas Neue';
}

img {
    width: 40%;
    display: block;
    margin: 0 auto;
}

main p {
    width: 60;
    margin: 50px auto;
    padding: 55px;
    background-color: lightblue;
    color: white;
    font-size: 1.2em;
    line-height: 1.5em;
    border: 10px solid lightblue;
    text-align: center;
    font-family: Roboto;
    box-sizing: border-box;
    border-radius: 10 px;
}
footer{
    padding: 20px;
    text-align: center;
    font-family: Roboto;
}